#allArticles {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#allArticles td,
#allArticles th {
  border: 1px solid #ddd;
  padding: 8px;
}

#allArticles tr:nth-child(even) {
  background-color: #ddd;
}

#allArticles tr:hover {
  background-color: #ddd;
}

#allArticles th {
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: left;
  background-color: #bcc6cf;
  color: white;
}
